<h1> Query Params and  fragments extracted values</h1>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Query Param</h3>
        <p class="card-text">id:: {{id}}</p>
        <p class="card-text">name : {{name}}</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Fragments</h3>
        <p class="card-text">Fragment value:: {{fragmentValue}}</p>
      </div>
    </div>
  </div>
</div>
