

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="activatedLink" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="activatedLink">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="activatedLink">contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="activatedLink">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/param-link',100,200]" routerLinkActive="activatedLink">Params</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[homeRoute]" routerLinkActive="activatedLink">Jump-To-Link-From-Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dynamic-link']" routerLinkActive="activatedLink">Dynamic-Link</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/static" routerLinkActive="activatedLink">Static</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/params-dynamice']" routerLinkActive="activatedLink">Params-DynamiceLink</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/extract-param-link',108,207]" routerLinkActive="activatedLink">Extract-Params</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/query-param-learning2']" routerLinkActive="activatedLink">query-param-learning2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/query-param-example']" routerLinkActive="activatedLink">query-param-example</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
